<% layout('layouts/boilerplate') %>
<div class="tasks-layout-container">
  <div class="tasks-item-a">
    <h1 class="header">My Tasks</h1>
  </div>

  <div class="tasks-item-b">
    <button class="blue-button"><a href="/projects/new">Add Project</a></button>
    <button class="blue-button"><a href="/projects/edit">Edit Projects</a></button>
  </div>

  <div class="tasks-item-g">
    <% if (projects.length != 0) { %>
    <div class="medium-header">Viewing Tasks for:</div>
    <form action="/fdjslka" method="GET" id="projectsFormTaskPage">
      <div class="col-3">
        <select class="dropdown" onchange="updateFormAction('projectsFormTaskPage', 'selectedProject')" id="selectedProject">
          <% for (let i = 0; i < projects.length; i++) {%>
          <option <% if (projects[i]._id == projectId) { %> selected <% } %> value='/tasks/<%=projects[i]._id%>'><%=projects[i].projectName%></option>
          <% } %>
        </select>
        <% } %>
      </div>

    </form>
  </div>


  <div class="tasks-item-c">
    <span class="col-3">
      <button class="dark-blue-button"><a href="/tasks/<%=projectId%>/new">Add Task</a></button>
    </span>
    <span class="col-3 mx-1">
      <button class="blue-outline-button">
        <a href="/tasks">View All Tasks</a>
      </button>
    </span>
    <span class="col-3">
      <!--<a class="blue-link" aria-disabled="true">Gant View</a>-->
    </span>
  </div>

  <!-- Add option to export tasks to .csv and organize tasks by project -->
  <div class="tasks-item-d">
    <div class="tasks-list-container">
      <% if (tasks.length == 0) { %>
      <div class="tasks-list-item-a1">
        <div class="medium-header">
          - - No tasks - -
        </div>
      </div>
      <% } else { %>

      <!-- HEADERS -->
      <div class="tasks-list-item-a1">
        <span class="black-header">Item Name</span>
      </div>

      <div class="tasks-list-item-b1">
        <span class="black-header">Owner</span>
      </div>

      <div class="tasks-list-item-c1">
        <span class="black-header">Progress</span>
      </div>

      <div class="tasks-list-item-d1">
        <span class="black-header">Due Date</span>
      </div>

      <% } %>

    </div>
  </div>

  <div class="tasks-item-e" id="task-container">
    <!-- TASK LIST -->
    <ol class="list-group">
      <% for (let i = 0; i < tasks.length; i++) { %>
      <li class="list-group-item task">
        <div class="tasks-list-container">
          <div class="tasks-list-item-a1">
            <%=tasks[i].name%>
          </div>
          <div class="tasks-list-item-b1">
            <%=tasks[i].owner%>
          </div>
          <div class="tasks-list-item-c1">
            <%=tasks[i].percentComplete%>%
          </div>
          <div class="tasks-list-item-d1">
            <%=tasks[i].dueDate%>
          </div>
          <div class="tasks-list-item-e1">
            <form action="/tasks/<%=tasks[i]._id%>/edit" method="GET">
              <button class="light-blue-button" id="edit-button">Edit</button>
            </form>
          </div>

          <div class="tasks-list-item-f1">
            <form action="/tasks/<%=tasks[i]._id%>?_method=DELETE" method="POST">
              <button class="btn-close" aria-label="Close" onclick="return confirmDelete()"></button>
            </form>
          </div>

        </div>
      </li>
      <% } %>
    </ol>

  </div>

  <div class="tasks-item-f">
    <nav>
      <ul class="pagination" id="task-pagination">
        <li><a class="page-link" href="#" id="task-prev-button">Previous</a></li>
        <li><a class="page-link" href="#" id="task-next-button">Next</a></li>
      </ul>
    </nav>
  </div>

  <div class="tasks-item-h"></div>

</div>